<h1>Editing object type</h1>

<%= render "form", object_type: @object_type %>

<br>

<div>
  <%= link_to "Show this object type", @object_type %> |
  <%= link_to "Back to object types", object_types_path %>
</div>
