<div class="header">
  <p>Solicitud de Registro Aprobada</p>
</div>
<div class="content">
  <p>Hola <%= @full_name %>,</p>
  <p>
    Nos complace informarte que tu solicitud de registro para el museo "<%= @museum_name %>" ha sido aceptada.
  </p>
  <p>
    A partir de ahora, puedes acceder a la plataforma y comenzar a actualizar y gestionar la información de tu museo. Si
    tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nosotros.
  </p>
  <p>Gracias por confiar en nuestra plataforma para gestionar tu museo.</p>
  <p>Saludos cordiales,<br> El equipo de <%= t("global.menu.app_name") %></p>
</div>