<div class="header">
  <p>Nueva Solicitud de Registro</p>
</div>

<div class="content">
  <p>Hola <%= @full_name %>,</p>
  <p>Hemos recibido tu solicitud para registrar el museo "<%= @museum_name %>" en nuestro sistema. Actualmente, estamos revisando la información proporcionada y te notificaremos tan pronto tu solicitud haya sido procesada.
  </p>
  <p>Gracias por elegir nuestra plataforma para gestionar tu museo.</p>
  <p>Saludos cordiales,<br> El equipo de <%= t("global.menu.app_name") %></p>
</div>