<div id="<%= dom_id piece_collection %>">
  <p>
    <strong>Name:</strong>
    <%= piece_collection.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= piece_collection.status %>
  </p>

  <p>
    <strong>Museum:</strong>
    <%= piece_collection.museum_id %>
  </p>

</div>
