<h1>Editing piece collection</h1>

<%= render "form", piece_collection: @piece_collection %>

<br>

<div>
  <%= link_to "Show this piece collection", @piece_collection %> |
  <%= link_to "Back to piece collections", piece_collections_path %>
</div>
