<div class="container page-container">
  <%= render partial: "layouts/back_and_header",
             locals: { back_path: @piece_collection, header: t(".title") } %>

  <%= render partial: "form",
             locals: { piece_collection: @piece_collection, back_to_collection: true } %>
</div>