$white: #ffffff;

$primary: #8F0403;
$dark: #101a30;


@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$custom-theme-colors: ( "altlight" : #e9e8df );
$theme-colors: map-merge($custom-theme-colors, $theme-colors);