<div id="<%= dom_id registration %>">
  <p>
    <strong>Manager email:</strong>
    <%= registration.manager_email %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= registration.museum_name %>
  </p>
</div>
