<p style="color: green"><%= notice %></p>

<h1>Registro de Museos</h1>

<div id="registrations">
  <% @registrations.each do |registration| %>
    <%= render registration %>
    <p>
      <%= link_to "Ver más", registration %>
    </p>
  <% end %>
</div>
