<% admin = current_user.admin? ? true : false %>

<h1><%= MuseumRegistrationRequest.model_name.human(count: 2) %></h1>
<%= link_to t(".create"), new_museum_registration_request_path %>

<% if admin %>
  | <%= link_to t(".view_archived"), archived_museum_registration_requests_path %>
<% end %>

<%= render "museum_registration_request_table", museum_registration_requests: @museum_registration_requests %>