<h1>New museum registration request</h1>

<%= render "form", museum_registration_request: @museum_registration_request %>

<br>

<div>
  <%= link_to "Back to museum registration requests", museum_registration_requests_path %>
</div>
