<div>
  <div>
    <h1> Descubrí la Riqueza cultural del país </h1>
    <h4> Busca museos por nombre, ciudad, etc.</h4>
    <input type="text" placeholder="Buscar museos...">
  </div>

  <div>
    <h3>  <%= link_to "Registrar Museo", new_museum_registration_request_path %> </h3>
  </div>
  <br>
  <br>

</div>

