<div class="d-flex bd-highlight align-items-center">
  <div class="p-2 bd-highlight">
    <%= link_to "", piece_path, class: "bi bi-arrow-left icon_back" %>
  </div>
</div>

<%= render "form", piece: @piece %>