<div class="container page-container">
  <%= render partial: "layouts/back_and_header",
             locals: { back_path: piece_collection_path(@piece_collection), header: t(".title") } %>

  <%= render partial: "form",
             locals: { piece: @piece, back_to_piece: false } %>
</div>