$font-family-heading: Candara, 'Noto Sans', source-sans-pro, sans-serif, system-ui;

// Icons
.icon_back {
  color: $gray-600;
}

// Buttons
.cta {
  font-family: $font-family-heading;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}

// Text
h1, h2, h3, h4 {
  font-family: $font-family-heading;
}

.main_heading{
  font-family: $font-family-heading;
  font-size: $h1-font-size;
  font-weight: 600;
}
.gallery_heading {
  font-family: $font-family-heading;
  font-size: $h5-font-size;
  font-weight: 600;
}
// Spacing
.page-container {
  margin-top: 1rem;
}

.page-info-section{

}
.description-box {
  padding-top: 1rem;
}

//Breadcrumb

.breadcrumb-item{
  font-family: $font-family-heading;
}

// Tables
.data-table-section-start{
  padding: 2rem 2rem;
}

.table-responsive{

}
