.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
}

.image-header {
  background-color: #0c201c;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.record-header{
  font-weight: 500;
  font-size: $h5-font-size;
  color: dimgray;
}

.record-title{
  font-weight: 500;
  color: dimgray;
}