.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
}

// To-do: how to make padding responsive?
.image-header {
  max-width: 100%;
  padding: 30px;
}

.image-record {
  border: 1px solid lightgray;
  border-radius: 5px;
  max-width: 250px;
}
.record-header{
  font-weight: 500;
  font-size: $h5-font-size;
}

.record-title{
  font-weight: 500;
  color: dimgray;
}