<h1><%= Museum.model_name.human(count: 2) %></h1>


<% if current_user.admin? %>
  <%= link_to t(".create"), new_museum_path %>
<% end %>

<div id="museums">
  <% @museums.each do |museum| %>
    <%= render museum %>
    <p>
      <%= link_to t(".view"), museum %>
    </p>
  <% end %>
</div>

