<div class="row">
  <div class="col-auto me-auto">
    <h2><%= t(".title") %></h2>
  </div>
  <div class="col text-end">
    <% if current_user&.admin? %>
      <%= link_to t(".create"), new_museum_path, class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>

<% if current_user %>
  <%= render 'museums_table', museums: @museums %>
<% else %>
  <%= render 'museums_gallery', museums: @museums %>
<% end %>
