<% owner_or_admin = current_user && current_user.admin_or_museum_owner?(@museum) %>

<style>
    .image-header{
        background-image: url(<%= asset_path "museum_top_placeholder.png" %>);
    }
</style>

<div class="image-header">
</div>

<div class="container page-container">
  <% if owner_or_admin %>
    <%= render 'museum_admin_page', museum: @museum %>
  <% else %>
    <%= render 'museum_visitor_page', museum: @museum %>
  <% end %>
</div>




