<div class="container page-container">
  <%= turbo_frame_tag @material do %>
    <div class="col-auto py-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="bd-highlight">
              <%= link_to "", materials_path, type: "btn", class: "link-body-emphasis bi bi-x-lg" %>
            </div>
          </div>
          <div class="px-3">
            <%= render "form", material: @material %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>