<div class="d-flex flex-row align-items-center pb-2 mb-3 pt-3">
  <h3 class="fw-semibold">
    <%= link_to "", back_path, type: "btn", class: "link-body-emphasis bi bi-chevron-left" %>
    <span class="ms-2"> <%= header %></span>
  </h3>
</div>