<div class="d-flex flex-row align-items-center pb-3">
  <h3 class="fw-semibold">
    <%= link_to "", back_path, type: "btn", class: "link-body-emphasis bi bi-chevron-left" %>
    <%= header %>
  </h3>
</div>